@import './style/Theme/theme.scss';
@import './style/Alignment/display';

html {
  font-size: 10px;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.gallery {
  @include display(flex, center, initial);
  padding: 2rem 0;
  position: sticky;
  top: 0px;
  background-color: var(--background);
  border-bottom: 0.1rem solid rgba(143, 129, 129, 0.3);
  z-index: 1;
}

.gallery-input {
  width: 60rem;
}

.gallery-button {
  margin-left: 1rem !important;
}

.title {
  @include display(flex, center, center);

  svg {
    margin-top: 12rem;
    margin-right: 3rem;
  }
}
